/* suppression des marges par défaut */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* suppression du scroll */
html{
    overflow: hidden;
}

/* ajout de l'image de fon */
body{
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 10vh 7vw;
    background-color: #eee;
    background-image: url("img/fond.webp");
    background-size: cover;
    background-position-x: right;
    background-position-y: center;
}

/* animation de couleur des textes */
@keyframes coloranim {
    0%{ color: #e48102}
    25%{ color: #0151a3}
    50%{ color: #e4d73d}
    75%{ color: #006683}
    100%{ color: #e48102}
}


/* comportement de l'en tete */
.entete{
    width: fit-content;
    color: #222;
}

/* titre "Painter's Room" */
h1{
    font-size: 6.5rem;
    font-family: "Playfair Display";
    font-weight: 500;
    color: #222;
    animation: coloranim 8s ease infinite;
}

/* sous-titres */
h2{
    font-family: 'Nunito';
}

/* texte "escape game" */
.entete-escapegame{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}

/* les auteurs */
.entete-auteur{
    font-size: 1rem;
    text-align: right;
    font-weight: 500;
}

/* liens vers les portfolios */
.auteur-lien{
    text-decoration: none;
    color: #222;
}

/* liens vers les portfolios au survole */
.auteur-lien:hover{
    color: #e48102;
}



/* comportement du corps de la page (texte + bouton) */
.corps{
    margin: 13vh 0;
    width: 45vw;
    color: #222;
}

/* texte de la page */
.corps-texte{
    font-size: 2.5rem;
    font-family: "Playfair Display";
    font-weight: 800;
}

/* bouton (le lien a) */
.button{
    display: block;
    margin: 10%;
    text-align: center;
}

/* style du bouton */
.button-texte{
    cursor: pointer;
    padding: 1.5rem 3rem;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 2rem;
    color: #eee;
    background: #222;
    border: #222 3px solid;
    border-radius: 3px;
    transition: all 0.5s ease;
}

/* style du bouton au survole */
.button-texte:hover{
    color: #222;
    background: transparent;
    animation: coloranim 8s ease infinite;
}

/* transition des couleurs des textes */
.text-anim{
    transition: color 1s ease;
}

/* message pour les téléphones et tablettes */
.texte-mobile{
    display: none;
    margin: 5vh auto;
    padding: 1rem;
    width: fit-content;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Nunito";
    font-weight: 700;
    color: #eee;
    background-color: #222;
}

/* style pour les téléphones et tablettes */
@media screen and (max-width: 1000px) {
    body{
        padding: 3vh 5vw;
        background-position-x: 60%;
    }
    
    .entete{
        width: 100%;
    }
    
    h1{
        font-size: 5rem;
    }
    
    .entete-auteur{
        text-align: left;
        background-color: #eeeeee50;
    }
    
    .corps{
        margin: 5vh 0;
        width: 100%;
        color: #222;
    }
    
    .corps-texte{
        font-size: 2rem;
        background-color: #eeeeee50;
        font-family: "Playfair Display";
        font-weight: 800;
    }

    .button{
        display: none;
    }

    .texte-mobile{
        display: block;
    }
}



/* Style supplmémentaire pour la page de FIN -----------------------------------------------------------------*/

/* titre "Painter's Room" */
.fin-titre{
    font-size: 4rem;
}

/* sous-titres */
.fin-escapegame{
    text-align: left;
    font-size: 1rem;
}

/* comportement du corps de la page (texte + bouton) */
.fin-corps{
    margin: 5vh 0;
    text-align: center;
}

/* texte "Bravo !" (juste sur page de FIN) */
.texte_bravo{
    font-size: 7rem;
    font-weight: 800;
    animation: coloranim 8s ease infinite;
}

/* comportements des boutons (juste sur page de FIN) */
.fin-buttons{
    margin: 8vh auto;
    width: 600px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

/* style du bouton */
.fin-button{
    margin: 0;
}

/* comportement des textes de crédits (juste sur page de FIN) */
.div-auteurs{
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
    font-family: 'Nunito';
    font-size: 1rem;
}

/* liens vers les portfolios */
.auteur-fin{
    font-weight: 800;
    color: #0151a3;
}